$dark: (
  primary: #29292e,
  secondary: #f8f8f8,
  terciary: #d3d3d3,
  borderHeader: #000,
  question:rgb(72, 67, 77),
  questionHightlighted: rgb(130, 55, 160),
  questionAnswered: rgb(151, 151, 151),
  smallText: #a8a8b3,
);