$light: (
  primary: #f8f8f8,
  secondary: #29292e,
  terciary: #858585,
  borderHeader: #e2e2e2,
  question:#fefefe,
  questionHightlighted: #f4f0ff,
  questionAnswered: #DBDCDD,
  smallText: #737380,
);