@import "./index.scss";

#page-room{
    
    @include themify('background', 'primary');
    @include themify('color', 'secundary');
    min-height: 100vh !important;
    padding-bottom: 50px;
    header{
        padding: 24px;
        border-bottom: 1px solid #a5a5a5;
        @include themify('border', 'borderHeader');

        .content{
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content:space-between;
            align-items: center;
            @media (max-width: 850px) {
                flex-direction: column;
                gap: 5px;
            }
            span{
                display: flex;
                align-items: center;
                gap: 5px;
                
            }


            >img{
                max-height: 45px;
                cursor: pointer;
            }

            >div{
                display: flex;
                gap: 16px;
                @media (max-width: 850px) {
                    flex-direction: column;
                    align-items: center;
                }
                

                button{
                    height:40px;
                }
            }
        }
        
    }

    main{
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
        
        @media (max-width: 850px) {
            width: 95%;
            margin: 0 auto;
        }

        .room-title{
            margin: 32px 0 24px 0;
            display: flex;
            align-items: center;
            
            h1{
                font-family: "Poppins, sans-serif";
                font-size: 24px;
                @include themify('color', 'secondary');
                
            }
            span{
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                padding: 8px 16px;
                color: #fff;
                font-weight: 500;
                font-size:14px;
            }

        }
        form{
            display: flex;
            flex-direction: column;
            
            textarea{
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                //background: #fefefe;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 130px;
                @include themify('background', 'question');
                @include themify('color', 'secondary');
                
            }

            .form-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
                @media (max-width: 600px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                }
                .user-info{
                    display: flex;
                    align-items: center;
                    img{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                    span{
                        margin-left: 8px;
                        @include themify('color', 'secondary');
                        font-weight: 500;
                        font-size: 14px;
                    }
                   
                }
        
                > span{
                    font-size: 14px;
                    color: #737380;
                    font-weight: 500;
        
                    button{
                        background: transparent;
                        border: 0;
                        color: #835afd;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
                
        
        }
    }
        .question-list{
            margin-top:32px;
            h2{
                @include themify('background-color', 'questionHightlighted');
                padding:  30px 10px;
                border-radius: 5px;
                border: 1px solid #835afd;
                text-align: center;
                @include themify('color', 'terciary');
            }

        }
        
    }
    
}