.toggleContainer{
    button{
        display: flex;
        width: 40px;
        max-height: 20px !important;
        border: 0;
        border-radius: 30px;
        align-items: center;
        cursor: pointer;
        border: 2px solid #835afd;
        background-color: transparent;
        
    
        span{
            width: 15px;
            height: 15px;
            border-radius: 100%;
            
        }
        span:hover{
            box-shadow: 0px 0px 16px 6px #835afd;
        }
    }
    
    .light{
        justify-content: flex-start;
       span{
           background-color: rgb(85, 85, 85);
           
       }
    }
    
    .dark{
        justify-content: flex-end;
        span{
            background-color: rgb(199, 199, 199);
        }
    }
}